@import 'https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900';

$font: 'Lato', sans-serif;

$onyx: #3E363F;
$cinnabar: #DD403A;
$cosmiclatte: #FFFCE8;

body {
   color: $onyx;
   font-family: $font;
   height: 100vh;
   overflow: hidden;  
}

.App {
   align-items: center;
   display: flex;
   height: 100vh;
   justify-content: center;
   width: 100vh;
   position: absolute;
   top: 0;
   left: 0;
}

.Modal {
   background: $onyx;
   border-radius: 2px;
   padding: 20px;
   width: 200px
}

.Input {
   display: flex;
   flex-direction: row-reverse;
   border-bottom: 1px solid rgba($cosmiclatte, .1);
	padding-bottom: 3px;
	margin-bottom: 5px;
   
   input {
      outline: none;
      border: 0;
      color: $cosmiclatte;
		background: transparent;
      font-family: $font;
      font-size: 14px;
		font-weight: 300;
   }
}

button {
   align-items: center;
   background: $cinnabar;
	border: 0;
	border-radius: 3px;
	color: white;
	display: flex;
   font-family: $font;
   font-size: 13px;
	font-weight: 500;
	justify-content: center;
	margin-top: 20px;
	outline: none;
	padding: 10px 9px 10px 11px;
	text-transform: uppercase;
	width: 100%;
   
   .fa {
      font-size: 12px;
		margin-left: auto;
		position: relative;
		top: 1px;
   }
   
   &:hover{
      transform: scale(1.02);
   }
   
   &:active {
      transform: scale(.99);
   }
}